
@model EntityLayer1.Concrete.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Yeni Kullanıcı Ekleme </h1>
<br />

@using(Html.BeginForm("AddUser","User",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Ad:")
    @Html.TextBoxFor(x => x.user_name,new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.user_name)
    <br /><br />
    @Html.Label("Soyad:")
    @Html.TextBoxFor(x => x.user_surname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.user_surname)
    <br /><br />
    @Html.Label("Mail:")
    @Html.TextBoxFor(x => x.user_mail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.user_mail)
    <br /><br />
    @Html.Label("Şifre:")
    @Html.TextBoxFor(x => x.user_password, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.user_password)
    <br /><br />
    <button class="btn btn-info">Kayıt Ol</button>


</div>

}

@*<form class="form-group" method="post">
    <input type="text" placeholder="Ad:" name="user_name" class="form-control" />
    <input type="text" placeholder="Soyad:" name="user_surname" class="form-control" />
    <input type="text" placeholder="Mail:" name="user_mail" class="form-control" />
    <input type="password" placeholder="Şifre:" name="user_password" class="form-control" />
    <button class="btn btn-primary">Ekle</button>

</form>*@