@model EntityLayer1.Concrete.Lesson

@{
    ViewBag.Title = "AddLesson";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni ders ekleme sayfası</h1>
<br />

@using (Html.BeginForm("AddLesson", "AdminLesson", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Ders Adı:")
        @Html.TextBoxFor(x => x.lesson_name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.lesson_name)
        <br /><br />
        @Html.Label("Ders durumu: (true:onaylı/false:onaylı değil)")
        @Html.TextBoxFor(x => x.lesson_status, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.lesson_status)
        <br /><br />
        <button class="btn btn-info">Yeni Ders Ekle</button>


    </div>
}


