@model EntityLayer1.Concrete.Subject

@{
    ViewBag.Title = "UpdateSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Konu Başlığı Güncelleme Sayfası</h2>
@using(Html.BeginForm("UpdateSubject","Subject",FormMethod.Post))
 {
<div class="form-group">
    @Html.Label("Konu ID")
    @Html.TextBoxFor(x => x.subject_id, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Konu Adı")
    @Html.TextBoxFor(x => x.subject_name, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Ders")
    @Html.DropDownListFor(x => x.lesson_id, (List<SelectListItem>)ViewBag.vll, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Kullanıcı ID")
    @Html.TextBoxFor(x => x.user_id, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-success">Güncelle</button>
</div>

 }

